@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Dancing+Script&family=Gentium+Plus&family=Gruppo&family=Inter&family=Josefin+Slab&family=Lobster+Two&family=PT+Serif&family=Playfair+Display&family=Poppins&family=Raleway:wght@100;200;400&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.coverPage {
height: 50rem;
width: 100%;
display: grid;
}


.imageCover {
    height: inherit;
    width: inherit;
    object-fit: cover;
    position: absolute;
    filter: brightness(60%);
}

.coverContent {
    width: inherit;
    height: inherit;
    position: relative;
}

nav, .navContent {
    color: white;
    display: flex;
    align-items: center;

}

.navContent {
    gap: 22px;
}

.navContent > p {
    cursor: pointer;
}

nav {
    justify-content: space-between;
    padding: 0 15px 0 15px;
    font-family: Inter;
    height: 5rem;
}

.cloudIcon {
    font-size: 35px;
}


.phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 45rem;
    font-family: Playfair Display;
}

.phrase > h1 {
    font-size: 58px;
    font-weight: 300;
}

.coffeeInfo {
    height: 50rem;
    display: flex;
    align-items: center;
    font-family: inter;
    background-color: #FFF1CC;
}

.coffeeInfoContent {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

.coffeeText > p {
font-size: 2.5vw;
}

.coffeeText > h1 {
    font-weight: bolder;
}

.coffeeText {
    padding-right: 80px;
}


.coffeeInfoContent > img {
    border-radius: 10px;
    width: 40vw;
}