@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Dancing+Script&family=Gentium+Plus&family=Gruppo&family=Inter&family=Josefin+Slab&family=Lobster+Two&family=PT+Serif&family=Playfair+Display&family=Poppins&family=Raleway:wght@100;200;400&display=swap');

:root {
  --mellowYellow: #FFF1CC;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.coverPage {
height: 50rem;
width: 100%;
display: grid;
overflow: hidden;
}



.imageCover {
    height: inherit;
    width: inherit;
    object-fit: cover;
    position: absolute;
    filter: brightness(60%);
}

.coverContent {
    width: inherit;
    height: inherit;
    position: relative;
}



nav, .navContent {
    color: white;
    display: flex;
    align-items: center;

}

.navContent > p {
    position: relative;
  }
  
  
  .navContent > p::after {
    content: ' ';
  position: absolute;
   left: 0;
   top: 20px;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: right;
  }
  
  .navContent > p:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }

.navContent {
    gap: 22px;
    justify-content: space-around;
}

.navContent > p {
    cursor: pointer;
}



nav {
    display: grid;
    background-color: black;
    font-family: Inter;
    height: 5rem;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    grid-template-columns: 40% 60%;
    padding: 0 15px 0 15px;
}

.cloudIcon {
    font-size: 35px;
}


.phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 45rem;
    font-family: Playfair Display;
}


.phrase > h1 {
    color: #FFF1CC;
    font-size: 58px;
    font-weight: 300;
}

.buyCoffee {
    height: 50rem;
    background-color: var(--mellowYellow);
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
}

.buyCoffee > h1 {
    text-align: start;
    padding-left: 55px;
    width: 80%;
    font-family: Poppins;
}

.coffeeContainer {
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coffee {
    text-align: center;
    height: 20rem;
    font-family: Raleway;
}


.coffeeimg, .coffeeimg > img {
    width: 25vw;
    height: 35vh;
    border-radius: 5px;
}

.coffeeimg > img {
    object-fit: cover;
}

.newSelections {
    height: 90rem;
    background-color: var(--mellowYellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.newSelection {
    width: 80%;
    height: 18rem;
    display: grid;
    grid-template-columns: 35% auto;
    gap: 20px;
}

.newSelection:nth-child(2) {
    grid-template-columns: 65% 35%;
    text-align: right;
}

.selectionImg {
    width: 28vw;
    height: 100%;
    max-width: 29vw;
    max-height: 50vh;
}

.selectionImg > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    max-width: inherit;
}

.selectionInfo {
    font-family: Raleway;
}

.selectionInfo > button {
    background: transparent;
    border: solid 1px;
    border-radius: 5px;
    height: 40px;
    transition: 0.3s;
    font-family: Poppins;
}

.selectionInfo > button:hover {
    background-color: black;
    color: var(--mellowYellow);
}

.menu {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.course, .course > img {
    width: 40vw;
    height: 40vh;
    border-radius: 5px;
}

.course > img {
    object-fit: cover;
    position: absolute;
}

.course > h2 {
    position: relative;
    top: 90%;
    text-align: center;
    font-family: PT serif;
}


span {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    left: 85%;
    top: 85%;
    cursor: pointer;
}

.summerDrinksTeaser {
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summerDrinks, .summerDrinks > img {
    width: 80vw;
    height: 70vh; 
}

.summerDrinks > img  {
    object-fit: cover;
    position: absolute;
}

.summerDrinks :is(h2, p) {
    position: relative;
    top: 45vh;
    left: 10%;
    font-size: 6vw;
}

.coffeeInfoPage {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffeeInfo, .coffeeInfo > img {
    width: 80vw;
    height: 70vh;
}

.coffeeInfo > img {
    object-fit: cover;
    position: absolute;
}

.coffeeInfoText {
    position: relative;
    top: 65%;
    font-family: Raleway;
    left: 10%;
}

.newsletter {
    text-align: center;
    padding: 20px;
}

.emailForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailSubmitter {
    font-family: Raleway;
    width: 13rem;
}

.emailForm > ion-icon {
    background-color: black;
    color: white;
    padding: 3px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-family: Poppins;
    height: 15rem;
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    height: 100%;
    display: grid;
}

li:nth-child(1) {
    font-weight: bolder;
}